li {
  list-style: none;
}

nav {
  display: flex;
  overflow-y: auto;
}

.nav-menu {
  background: #fff;
}

::ng-deep {
  .mat-ripple.mat-tab-header-pagination.mat-tab-header-pagination-after {
    display: none !important;
  }
  .mat-ripple.mat-tab-header-pagination.mat-tab-header-pagination-before {
    display: none !important;
  }

  mat-tab-group {
    overflow-y: scroll  !important;
  }
}
