.nav-menu {
  background: #fff;
  overflow: hidden;
  overflow-x: auto;
}

mat-toolbar {
  z-index: 301;
  top: -1px;
  position: fixed;
}

ul {
}
li {
  list-style: none;
  a {
    text-decoration: none;
  }
}
:first-child {
  padding-left: 0;
}
