<app-header [links]="itens"></app-header>
<mat-card>
  <app-box title="Lanches" [data]="data.snacks"></app-box>
  <app-box title="Adicione no seu lanche" [data]="data.snacksExtras" [active]="false"></app-box>
  <app-box title="Pastéis Tradicionais" [data]="data.pastry"></app-box>
  <app-box title="Pastéis Especiais" [data]="data.specialPastries"></app-box>
  <app-box title="Adicione no seu pastel" [data]="data.additionalPastry" [active]="false"></app-box>
  <app-box title="Porções de batata frita" [data]="data.portions"></app-box>
  <app-box title="Adicione na sua batata" [data]="data.portionsExtras" [active]="false"></app-box>
  <app-box title="Bebidas" [data]="data.drinks" ></app-box>
</mat-card>
