mat-card {
  font-family: 'Open Sans', sans-serif;
  margin-top: 4rem;

}

mat-card {
  border-radius: 4px;
  padding: 0.75rem;
  margin-bottom: 1rem;
}

h1 {
  font-size: x-large;
}

p {
  font-size: 0.75rem;
}
